target
target/classes target/generated-sources target/generated-test-sources target/gs-spring-boot-0.1.0.jar target/gs-spring-boot-0.1.0.jar.original target/m2e-wtp target/maven-archiver target/maven-status target/surefire-reports target/test-classes target/tmp
*.class
build/classes
